<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Rummy Game App</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-primary" href="#">My Github Profile</a>
    <a class="p-2 text-primary" href="#">Github Project Repo</a>
  </nav>
</div>

<div class="container-fluid">
  <!-- Rummy Game -->
  <div class="card text-center mt-4">
    <div class="card-header text-primary display-4">
      Rummy Game
    </div>
    <div class="card-body">
      <p class="lead">
        Rummy is a group of matching-card games notable for similar gameplay based on matching cards of the same rank or sequence and same suit. The basic goal in any form of rummy is to build melds which consist of sets, three or four of a kind of the same rank; or runs, three or more cards in sequence, of the same suit. If a player discards a card, making a run in the discard pile, it may not be taken up without taking all cards below the top one. The Mexican game of Conquian is considered by games scholar David Parlett to be ancestral to all rummy games, which itself is derived from a Chinese game called Khanhoo. The rummy principle of drawing and discarding with a view to melding appears in Chinese card games at least in the early 19th century, and perhaps as early as the 18th century.
      </p>
    </div>
    <div class="card-footer text-muted">
      Source : <a class="p-2 text-primary" href="https://en.wikipedia.org/wiki/Rummy">WikiPedia</a>
    </div>
  </div>

  <app-rummy-player>

  </app-rummy-player>

  <footer class="pt-4 my-md-5 pt-md-5 border-top text-center">
    <p class="mb-1">© 2017-2018 RummyGameApp</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">My Github Profile</a></li>
      <li class="list-inline-item"><a href="#">Github Project Repo</a></li>
    </ul>
  </footer>
  
</div>